* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1B213B;
    overflow: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #1B213B;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.header img {
    width: 80%;
    height: 130px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2rem;
}

.copyright {
    display: flex;
    background: linear-gradient(to right, #FFFFFF, #999999);
    width: 90%;
    height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.menu {
    background: linear-gradient(to right, #FFFFFF, #999999);
    height: 4rem;
    width: 90%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 800px) {
    .menu-item{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
        padding: 0.5rem;
        border-radius: 0.5rem;
        white-space: nowrap;
    }
}

@media screen and (max-width: 800px) {
    .menu-item{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
        padding: 0.25rem;
        border-radius: 0.25rem;
        white-space: nowrap;
    }
}


.menu-item:hover{
    color: #ffff;
    background-color: #1B213B;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 15rem);
    margin-top: 13rem;
    scrollbar-color: #EB8EE8 #1B213B;
    scrollbar-width: thin;
}

.content-box {
    background: linear-gradient(to bottom,#1B203B,#EB8EE8);
    width: 90%;
    height: calc(100vh - 15rem);
    min-height: calc(100vh - 15rem);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content-box-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.content-box-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.content-box-img img {
    width: 200px;
    height: 200px;
    border: 0.25px solid #1B213B;
    border-radius: 1rem;
    box-shadow: 12px 12px 4px rgb(0, 0, 0,0.25);
}

#home_img1 {
    position: relative;
    left: -50px;
    top: 50px;
    z-index: 1;
}

#home_img2 {
    position: relative;
    left: 100px;
    top: 20px;
    z-index: 2;
}

#home_img3 {
    position: relative;
    left: -80px;
    top: -50px;
    z-index: 1;
}

#equipe {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

.content-equipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}

.person{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:0.5rem ;
    border-radius: 1rem;
    padding: 0.5rem;
}

.person:hover{
    background-color: rgb(0, 0, 0,0.5) ;
}

.person-picture {
    height: 100%;
    width: 40%;
    border-radius: 1rem;
    border: 1px solid #000;
    box-shadow: 2px 4px 4px rgb(0, 0, 0,0.25);
}

.person-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.person-title {
    font-size: large;
    font-weight: bold;
    color: #fff; /*rgb(201, 132, 239, 0.72);*/
    text-shadow: 1px 1px 1px #000;
    font-family: 'Courier New', Courier, monospace;
}

.person-subtitle {
    font-size: medium;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Courier New', Courier, monospace;
}

.content-equipe-detail {
    padding: 1rem;
}

.content-detail{
    border-radius: 2rem;
    background-color: rgb(255, 255,255,0.25);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: rgb(0, 0, 0,0.5) ;
}

.hidden{
    display: none !important;
}

#home{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

#home_titulo{
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(201, 132, 239, 0.72);
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#home_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
    color: #fff;
    text-align:justify;
    text-shadow: 2px 2px 2px #000;
}

#home_img{
    height: 2rem;
    width: 100%;
    background-image:url('../assets/img/home_img.png');
    background-repeat:repeat;
    background-size:4rem;
}

#neurodivergentes{
    display: flex;
    flex-direction: column;
}

.submenu {
    display: flex;
    flex-direction: row;
    height: 3rem;
    min-height: 3rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    width: 100%;
    background-color: #CBB8A7;
    position: relative;
    top: 30px;
    box-shadow: inset -2px -8px 8px rgb(0,0,0,0.25);
}

.submenu-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    color: #1B213B;;
}

.submenu-item:hover{
    color: #ffff;
    background-color: #1B213B;
}

.selected-menu{
    text-decoration: underline;
    font-weight: bold;
}

.content-sections{
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section-img{
    height: 20rem;
    width: 20rem;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 12px 12px 4px rgb(0, 0, 0,0.25);
}

.section-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
    color: #fff;
    text-align:justify;
    text-shadow: 2px 2px 2px #000;
}

.section-title{
    padding-bottom: 2rem;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(201, 132, 239, 0.72);
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#depoimentos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 70%;
    width: 90%;
    overflow-x: auto;
    box-sizing: border-box;
}

.carrossel-item{
    background-color: #CBB8A7;
    height: 92%;
    width: 250px;
    min-width: 250px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: linear-gradient(to top,#1B203B,#EB8EE8);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrossel-item-video{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.carrossel-item-video iframe{
    border-radius: 2rem 2rem 0rem 0rem;
    width: 250px ;
    height: 350px ;
}

.carrossel-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
    color: #fff;
    text-align:center;
    text-shadow: 2px 2px 2px #000;
}